.leaflet-container {
  height: 400px;
  width: 100%;
  border-radius: 20px;
  z-index: 2;

  @media all and (min-width: 1024px) and (max-width: 1280px) {
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
    height: 200px;
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
    height: 170px;
  }

  @media all and (max-width: 480px) {
    height: 100px;
  }
}

.leaflet-div-icon {
  background: transparent;
  border: none;
  @media all and (min-width: 1024px) and (max-width: 1280px) {
  }

  @media all and (min-width: 768px) and (max-width: 1024px) {
  }

  @media all and (min-width: 480px) and (max-width: 768px) {
  }

  @media all and (max-width: 480px) {
  }
}
